# Node modules
/node_modules

# Logs
/logs/*

# Environment files
.env

# Redacted System
/memoria

# Database files
*.sqlite
*.db
*.sql
*.rdb

# Config files
db.js
config.json
pm2.config.js

# Specific features
feature.js

# Development containers
/.devcontainer
