<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Authenticated Successfully</title>
    <style>
      body {
        background-color: #1a1a1a;
        color: white;
        font-family: sans-serif;
      }
      .container {
        max-width: 500px;
        margin: 0 auto;
        text-align: center;
        margin-top: 50px;
        padding: 20px;
        border-radius: 10px;
        background-color: #008080;
      }
      h1 {
        font-size: 28px;
        margin-bottom: 10px;
      }
      p {
        font-size: 20px;
        margin-top: 0;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Authenticated Successfully</h1>
      <p>You can close this window now.</p>
    </div>
  </body>
</html>
